.banner {
    width: auto;
    height: 200px;
    background-color: #FCF1DD;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.banner .banner-title{
    background-color:#FCF1DD ;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.banner h1 {
    font-family:sans-serif;
    color: #ABABAB;
    margin: 0 10px;
    padding:0 10px;
}