.banner {
    width: 100%;
    min-height: 260px;
    background-color: #FCF1DD;
    display: flex;
    justify-content: center;
}

.banner-container {
    max-width: 1320px;
    width: 100%;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.banner .banner-title {
    background-color: #FCF1DD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.banner h1 {
    font-family: sans-serif;
    color: #ABABAB;
    margin: 0 10px;
    padding: 0 10px;
}


@media screen and (min-width: 769px) {
    .banner {
        margin-top: -150px;
        padding-top: 150px;
    }
}

@media screen and (max-width: 768px) {

    .banner {
        min-height: 180px;
        padding: 80px 0 24px;  
    }

    .banner-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 16px;
        row-gap: 12px;
    }

    .banner .banner-title {
        align-items: flex-start;
    }

    .banner h1 {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
}