#header-scroll {
    display: flex;
    align-items: center;
    margin: 0px auto;
    height: 120px;
    margin-top: 50px;
    justify-content: center;
    left: 300px;
    right: 300px;
    position: sticky;
    top: 30px;
    z-index: 50;
}

/* #header-scroll.smallPanel {
    display: flex;
    align-items: center;
    margin: 0px auto;
    width: 50%;
    height: 100px;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
    transition:all 1s;
  } */

.site-header__inner{
    width: 110px;
    height: 120px;
    overflow: hidden;
}
.site-header__inner img{
    width: 100%;
}

.site-header__nav {
    display: flex;
    background-color: rgb(255, 255, 255, 0.7);
    width: 960px;
    align-items: center;
    border-radius: 50px;
    padding: 0 auto;
    justify-content: space-evenly;
    backdrop-filter: saturate(150%) blur(12px);
}

.site-header__nav ul {
    display: flex;

}

.site-header__nav li {
    width: max-content;
    font-size: 24px;
}

.site-header__nav li a{
    display: block;
    position: relative;
    width: 170px;
    height: 80px;
    overflow: hidden;
    font-size: 20px;
}

.site-header__nav li a .zh{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.site-header__nav li a .en{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 200%);
}

.site-header__nav li a:hover .zh{
    transform: translate(-50%, -250%);
    transition: all .6s;
}

.site-header__nav li a:hover .en{
    transform: translate(-50%, -50%);
    transition:all .6s;
}





