*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

body {
    font-family: "Noto Sans TC";
    color: #222;
    line-height: 1.7;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
}

section {
  padding: 80px 0;
}