.fqa-section .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fqa-section h3 {
    font-size: 22px;
    letter-spacing: 0.3em;
    margin-bottom: 8px;
}

.fqa-section p {
    font-size: 14px;
    color: #666;
}

.arrow-down {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}

.arrow-down span {

    position: absolute;
    width: 60%;
    height: 2px;
    background-color: black;
    margin: auto;
}

.arrow-down .bar1 {
    left: 0;
    top: 15px;
    rotate: 45deg;
    transition: rotate .3s 0s;
}

.arrow-down .bar2 {
    right: 0;
    top: 15px;
    rotate: -45deg;
    transition: rotate .3s 0s;
}

#arrow-control {
    display: none;
}

.accordion-item.active .accordion-header .arrow-down .bar1 {
    top: 15px;
    rotate: 315deg;
}

.accordion-item.active .accordion-header .arrow-down .bar2 {
    top: 15px;
    rotate: 225deg;
}



.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;

}

.accordion-header {
    background-color: #f5f5f5;
    padding: 15px;
    cursor: pointer;
    /* 讓滑鼠變手指 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    background-color: #e9e9e9;
}

.accordion-panel {
    display: none;
    padding: 16px;
    background-color: #fff;
    border-top: 1px solid transparent;

}

.accordion-item.active .accordion-panel {
    display: block;
    border-top-color: #ddd;
    /* 顯示分隔線 */

}

.accordion-item.active .accordion-header {
    background-color: #FFB6C1;
    /* 變成粉紅色 */
    color: white;

}