.fqa-section .container {
    width: 1320px;
    display: flex;
    flex-direction: column;

}

.fqa-section h3 {
    font-size: 22px;
    letter-spacing: 0.3em;
    margin-bottom: 8px;
}

.fqa-section p {
    font-size: 14px;
    color: #666;
}

.arrow-down {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}

.arrow-down span {

    position: absolute;
    width: 60%;
    height: 2px;
    background-color: black;
    margin: auto;
}

.arrow-down .bar1 {
    left: 0;
    top: 15px;
    rotate: 45deg;
    transition: rotate .3s 0s;
}

.arrow-down .bar2 {
    right: 0;
    top: 15px;
    rotate: -45deg;
    transition: rotate .3s 0s;
}

#arrow-control {
    display: none;
}

#arrow-control:checked~.question-title .arrow-down .bar1 {
    top: 15px;
    rotate: 315deg;
}

#arrow-control:checked~.question-title .arrow-down .bar2 {
    top: 15px;
    rotate: 225deg;
}


.question {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.question-title {
    display: flex;
    border-bottom: 2px solid #D9D9D9;
    justify-content: space-between;
    align-items: center;
    /* background-color: azure; */
}


.answer .hedden {
    display: block;
}