/* ----------------gif-box------------------- */

.gift-box {
    background-color: #F8F6F6;
}

.gift-box .container {
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gift-box__item {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.gift-box__title {
    margin-bottom: 32px;
    text-align: center;
}

.gift-box__title h2 {
    font-size: 22px;
    letter-spacing: 0.3em;
}

.gift-box__item .card {
    position: relative;
    overflow: hidden;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.gift-box__item .card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 12px;
}

.gift-box__item .card a {

    font-size: 18px;
}

.gift-box__item .card span {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.gift-box__item .card .cta {
    background-color: #FCA3B5;
    padding: 10px 50px;
    border-radius: 30px;
    color: #fff;
    position: absolute;
    bottom: -15%;
}

.gift-box__item .card:hover .cta {
    bottom: 0;
    transition: all .5s;
}

/* ----------------gift-flower------------------ */

.gift-flower {
    background-color: #fff;
    background-image: url("../../assets/images/ui/bg.png");
}

.gift-flower .container {
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-flower__item {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.gift-flower__title {
    margin-bottom: 32px;
    text-align: center;
}

.gift-flower__title h2 {
    font-size: 22px;
    letter-spacing: 0.3em;
}

.gift-flower .card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.gift-flower .card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 12px;
    border: 1px solid black;
}

.gift-flower .card a {
    margin-bottom: 4px;
    font-size: 18px;
}

.gift-flower .card span {
    font-size: 16px;
    letter-spacing: 0.1em;
}