

/* ----------------gif-box------------------- */

.gift-box {
    background-color: #F8F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gift-box .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 1320px;
    padding: 40px 0;

}

.gift-box__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-tital {
    margin: 40px 0;
    width: auto;
    padding: 0;
}

.gift-box__item .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-box__item .card a {
    margin: 10px;
    font-size: 24px;
}

/* ----------------gift-flower------------------ */

.gift-flower {
    background-color: #fff;
    background-image: url(/src/assets/images/ui/bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gift-flower .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 1320px;
    padding: 40px;
}

.gift-flower__item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gift-flower__title {
    margin:40px 0;
    width: auto;
    padding: 0;    
}

.gift-flower .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-flower .card a {
    margin: 10px;
    font-size: 24px;
}

