.hero {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("src/assets/images/hero/hero.png");
    background-size: cover;
    background-position: center;
}

.hero__title {
    position: absolute;
    background-color: rgba(164, 166, 168, 0.2);
    backdrop-filter: saturate(100%) blur(10px);
    align-self: center;

    padding: 12px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title h1 {
    text-align: center;
    margin: auto;
}

/* ---------------flavor-introduce---------------- */

.flavor-introduce {
    /* background-color: #FCF1DD; */
    background-image: url("/src/assets/images/ui/bg.png");
    background-repeat: repeat;
    width: 100%;
    height: 1080px;
    align-items: center;
    padding: 72px 0 56px;
    text-align: center;
}

.flavor-introduce .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    height: 100%;
    justify-content: space-around;
}

.flavor-introduce__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.flavor-introduce__title{
    font-size: 22px;
    letter-spacing: 0.3em;
    margin-bottom: 16px;
}

.flavor-introduce .btn-cta {
    width: auto;
    margin: 30px;
    padding: 15px 35px;
    background-color: #E8AE37;
    border-radius: 15px;
    text-align: center;
}

.flavor-introduce .btn-cta a {
    color: #FFFF;
    font-size: 32px;
    line-height: 40px;

}

.flavor-introduce__list {
    display: flex;

}

.flavor-introduce__list div img {
    margin: 15px;
}

/* ----------------------steps----------------------- */

.steps {

    justify-content: center;
    display: flex;
}

.steps .container {
    width: 1420px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.steps__header {

    margin: 80px auto 20px;
    text-align: center;
    height: 116px;
}

.steps__header p {
    font-size: 20px;
    margin: 44px;
}

.steps__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


}

.steps__item-header {

    width: 300px;
    padding: 30px;

}

.steps__item .pic {
    background-color: transparent;
    margin: 60px 0;
}

.steps__item .content {
    width: 300px;
    height: 180px;
    padding: 30px;
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 30px;
}

.steps__cta {
    align-self: center;
    padding: 15px 35px;
    background-color: #E8AE37;
    font-size: 32px;
    margin: 20px 0;
    border-radius: 15px;
}

.steps__cta a {
    color: #FFFF;
}

/* ----------------section03----------------- */
.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

.product-section .container {

    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.product-section .area {
    height: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.product-section .card {
    display: flex;

}


.product-section .pic {
    display: flex;

}

.product-section .pic1 {
    display: flex;
    justify-content: flex-end;
}

.product-section img {
    width: auto;
    height: auto;
}

.product-section .card .btn {
    position: absolute;
    z-index: 5;
    align-self: center;
    background-color: #E8AE37;
    font-size: 32px;
    padding: 30px;
    backdrop-filter: saturate(150%) blur(12px);
    background-color: rgb(255, 255, 255, 0.5);

}