
/* -----------------wedding-step1------------- */
.wedding-step1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/images/ui/bg.png);
}

.wedding-step1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1320px;
    padding: 50px 0;
}

.wedding-step1 .step-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wedding-step1 .step-line {
    width: 175px;
    height: 1px;
    background-color: black;
    margin: 24px;
}

.wedding-step1 .directions {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header-wedding-step1 {
    padding: 10px;
    margin: 10px;
}

.wedding-step1__total {
    display: flex;
    align-self: end;
    margin-right: 300px;
}

.wedding-step1__total .btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCA3B5;
    border-radius: 30px;
    width: 126px;
    height: 38px;
    color: #FFFF;

}

.wedding-step1__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(235px, auto);
    margin: 10px;
    padding: 50px 0;
    align-items: flex-end;

}

.wedding-step1 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wedding-step1 .select {
    display: flex;
    width: 187px;
    height: 35px;
    background-color: #F6F7FB;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
}

.wedding-step1 .select .icon {
    margin: 0 20px;
}

.wedding-step1 .card p {
    font-size: 24px;
    margin: 10px;
}
