
/* -------------wedding-step2----------------- */
.wedding-step2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/images/ui/bg.png);
}

.wedding-step2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1320px;
    padding: 50px 0;
}

.wedding-step2 .step-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wedding-step2 .step-line {
    width: 175px;
    height: 1px;
    background-color: black;
    margin: 24px;
}

.wedding-step2 .directions {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.wedding-step2__total {
    padding: 10px;
    margin: 10px;
}

.wedding-step2__item{
    display: flex;

}

.wedding-step2 .card img{
    margin: 20px;
}

.wedding-step2 .step2-contrl{
    display: flex;
    width:50%;
    align-items:center;
    justify-content: space-between;
}

.wedding-step2__update{
    margin: 10px 40px;
    padding: 5px 30px;
    border-radius: 30px;
    
}

.wedding-step2 .btn-next{
    margin: 10px 40px;
    background-color: #FCA3B5;
    padding: 5px 30px;
    border-radius: 30px;
    color: #FFFF;
}
