

.wedding-step3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/images/ui/bg.png);
}

.wedding-step3  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1320px;
    padding: 50px 0;
}

.wedding-step3  .step-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wedding-step3  .step-line {
    width: 175px;
    height: 1px;
    background-color: black;
    margin: 24px;
}

.wedding-step3  .directions {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.header-title {
    padding: 10px;
    margin: 10px;
}
.wedding-from{

    display: flex;
    flex-wrap: wrap;

    gap: 80px;
}
.wedding-from div{
    margin: 10px;
}

.wedding-from input{
    margin: 15px 0;
}