<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
 <footer class="site-footer">
        <div class="container">
            <div class="site-footer__item">
                <div class="logo">
                    <img src="/src/assets/images/ui/ImageToStl.com_dessert 1.png" alt="">
                    <img src="/src/assets/images/ui/logo-text.png" alt="">
                </div>
            </div>
            <div class="site-footer__item">
                <div class="card">
                    <img src="/src/assets/icons/icon-car.png" alt="">
                </div>
                <div class="content">
                    <h4>線上付款</h4>
                    <p>信用卡</p>
                    <p>ATM轉帳</p>
                    <p>LINE PAY</p>
                </div>

            </div>
            <div class="site-footer__item">
                <div class="card">
                    <img src="/src/assets/icons/icon-cold.png" alt="">
                </div>
                <div class="content">
                    <h4>保存方式</h4>
                    <p>冷凍保存五天，請盡速食用</p>
                </div>
            </div>
            <div class="site-footer__item">
                <div class="card">
                    <img src="/src/assets/icons/icon-fire.png" alt="">
                </div>
                <div class="content">
                    <h4>食用建議</h4>
                    <p>室溫下推冰10-15分鐘</p>
                    <p>烤箱預熱180°C冷凍直接回考3-5分鐘</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>