 <header class="site-header" id="header-scroll">
        <div class="site-header__inner">
            <a class="site-header__logo" href="../../../index.html">
                <img src="../../assets/images/ui/ImageToStl.com_dessert 1.png" alt="吉舍甜食可麗露LOGO">
            </a>
        </div>
        <div class="site-header__nav">
            <ul>
                <li><a href="../../pages/gift-box/gift-box.html"><div class="zh">線上購買</div><div class="en">shop line</div></a></li>
                <li><a href="../../pages/wedding/wedding.html"><div class="zh">婚禮小物</div><div class="en">wedding</div></a></li>
                <li><a href="../../pages/about/about.html"><div class="zh">關於我們</div><div class="en">about</div></a></li>
                <li><a href="../../pages/fqa/fqa-section.html"><div class="zh">常見問題</div><div class="en">FAQ</div></a></li>
            </ul>
            <div class="site-header__cart">
                <img src="../../assets/icons/icon-cart.png" alt="購物車">
            </div>
        </div>
    </header>
    <div class="banner">
        <div class="banner-title">
            <h1>wedding</h1>
            <h1>婚禮小物</h1>
        </div>
        <div class="banner-pic">
            <img src="/src/assets/images/banner/banner.png" alt="">
        </div>
    </div>

</html>