<header class="site-header" id="header-scroll">
        <div class="site-header__inner">
            <a class="site-header__logo" href="/src/pages/index/index.html">
                <img src="/src/assets/images/ui/logo-nav.png" alt="吉舍甜食可麗露LOGO">
            </a>
        </div>
        <div class="site-header__nav">
            <ul>
                <li><a href="/src/pages/gift-box/gift-box.html">線上購買</a></li>
                <li><a href="/src/pages/wedding/wedding.html">婚禮小物</a></li>
                <li><a href="">品牌故事</a></li>
                <li><a href="">QA問答</a></li>
                <li><a href="">聯絡我們</a></li>
            </ul>
            <div class="site-header__cart">
                <img src="/src/assets/icons/icon-cart.png" alt="購物車">
            </div>
        </div>
    </header>
    <div class="banner">
        <div class="banner-title">
            <h1>wedding</h1>
            <h1>婚禮小物</h1>
        </div>
        <div class="banner-pic">
            <img src="/src/assets/images/banner/banner.png" alt="">
        </div>
    </div>

</html>